# Temporary files during installation.
mirrorlist
sda.dump

# Secrets.
# Handle these manually when installing!
scripts/secrets.fish
ssh/

# Plugins and packages.
config/tmux/plugins/

# Generated configs.
config/emacs/custom-file.el
